
.header-background{
    background: repeating-linear-gradient(
        90deg,
        #3e0e02,
        #3e0e02 10px,
        #651a08 10px,
        #651a08 15px
        );
}

@keyframes marqueeRightToLeft {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

.divider {
    border-left: 2px solid #fff;
    margin: 0 8px;
}